@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
  background: aliceblue
}

h1, p {
  margin: 0 auto;
  text-align: center;
}

hr {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.no-border {
  border: none;
}

.container > * {
  margin: 10px 0;
}

.createPost {
  position: absolute;
  left: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px auto;
  padding: 8px 0;
  width: 50%;
  border: 1px solid grey;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 2px 7px 0 #00000061;
  opacity: 1;
  transition: transform 200ms ease-out, opacity 100ms ease-out;
  transform: scale(1);
}

.createPost.scale {
  opacity: 0;
  transform: scale(0.7);
}

.createPost.hidden {
  display: none;
}

.createPost > input, .createPost > textarea, .createPost > button {
  margin: 4px 0;
  padding: 6px;
  width: 80%;
  border: 1px solid #9d9d9d;
  border-radius: 6px;
}
/**/
.createPost > button {
  padding: 16px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
   background-color: aliceblue; 
  color: dodgerblue; 
  border: 2px solid dodgerblue;
  user-select: none;
}

.createPost > button:hover{
  background-color: dodgerblue;
  color: aliceblue;
}
/**/

.list {
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px auto;
  padding: 8px 0;
  width: 50%;
  border: 1px solid #bbb9b9;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 3px 8px 0 #0000002b;
}

.post > * {
  margin: 4px;
}

#list {
  margin-bottom: 40px;
}



#newPost {

  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
   background-color: aliceblue; 
  color: dodgerblue; 
  border: 2px solid dodgerblue;
  user-select: none;
}

#newPost:hover{
  background-color: dodgerblue;
  color: aliceblue;
}

h1 {
  color: hsla(0, 0%, 0%, .9);
  font: normal 100px Varela Round, sans-serif;
  height: 140px;
  letter-spacing: 5px;
  margin: -80px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  animation: move linear 2000ms infinite;  
  padding: 0px;
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(180, 100%, 50%, 1), 
      -3px -3px 0 hsla(180, 100%, 50%, 1), 
      -2px -2px 0 hsla(180, 100%, 50%, 1), 
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px 4px 0 hsla(0, 100%, 50%, 1), 
      3px 3px 0 hsla(0, 100%, 50%, 1), 
      2px 2px 0 hsla(0, 100%, 50%, 1), 
      1px 1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(0, 100%, 50%, 1), 
      -3px 3px 0 hsla(0, 100%, 50%, 1), 
      -2px 2px 0 hsla(0, 100%, 50%, 1), 
      -1px 1px 0 hsla(0, 100%, 50%, 1),
      4px -4px 0 hsla(180, 100%, 50%, 1), 
      3px -3px 0 hsla(180, 100%, 50%, 1), 
      2px -2px 0 hsla(180, 100%, 50%, 1), 
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1), 
      3px 3px 0 hsla(180, 100%, 50%, 1), 
      2px 2px 0 hsla(180, 100%, 50%, 1), 
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 hsla(0, 100%, 50%, 1), 
      -3px -3px 0 hsla(0, 100%, 50%, 1), 
      -2px -2px 0 hsla(0, 100%, 50%, 1), 
      -1px -1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }  
}

.subtitle{
  font-family: consolas;
  font-size: 30px;
}

h2{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  text-align: center
}

input[type=text] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 3px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  width: 800px;
  height: 35px;
  font-size: 20px;
}

input[type=text]:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 3px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

textarea[type=text] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 3px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  width: 800px;
  height: 35px;
  font-size: 20px;
}

textarea[type=text]:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 3px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

h3{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
}

::selection{
  background: lightblue;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}